<div class="row">
	<h2>Proyectos realizados</h2>
	<div class="col-lg-3">
		<button type="button" class="btn btn-dark" routerLink="/nuevopro" *ngIf="isLogged">Agregar proyecto</button>
	</div>
</div>

<div class="row">
	<div class="col lg 1">
		<div class="col-lg-11">
			<div *ngFor="let Proyecto of proyecto">
				<h3>{{Proyecto.nombre}} | {{Proyecto.realizacion}}</h3>
				<p>{{Proyecto.descripcion}}</p>
			
				<td *ngIf="isLogged"><button class="btn btn-light me-2" routerLink="/editpro/{{Proyecto.id}}">Editar</button></td>
				<td *ngIf="isLogged"><button class="btn btn-danger" (click)="delete(Proyecto.id)">Borrar</button></td>
			</div>
		</div>
	</div>
</div>
	<!-- 
	<div class="contenedor">
		<div class="col-sm-12 col-md-7 col-lg-12 parteText">
			<div *ngFor="let Proyecto of proyecto">
					<h2>{{Proyecto.nombre}} | {{Proyecto.realizacion}}</h2>
					<p>{{Proyecto.descripcion}}</p>
			</div>
		</div> -->
		<!-- <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parteImg">
			<img src="../../../assets/proyectoPelicula.jpg" class="img-fluid img-proyecto">
		</div> -->
	<!-- </div> -->
	