<div class="row">
    <div>
        <h2>Crear tu información personal</h2>
        <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
            <div class="form-group">
                <!-- <label for="descripcion">Información personal</label> -->
                <textarea type="text" class="form-control" id="descripcion" name="descripcion" rows="10" cols="40" [(ngModel)]="descripcion" required></textarea>
            </div>
            <button class="btn btn-primary"> Agregar información</button>
        </form>
    </div>
</div>
