<div class="row">
	<h2>Hard & Soft skills</h2>
	<div class="text-center col-sm-4 col-md-4 col-lg-4 grafico">
		<circle-progress
			[percent]="70"
			[radius]="90"
			[showUnits]="false"
			[title]="'Laravel'"
			[titleFontSize]="'2em'"
			[showSubtitle]="false"
			[outerStrokeWidth]="16"
			[innerStrokeWidth]="8"
			[outerStrokeColor]="'#78C000'"
			[innerStrokeColor]="'#C7E596'"
			[animation]="true"
			[animationDuration]="600"
		></circle-progress>
	</div>

	<div class="text-center col-sm-4 col-md-4 col-lg-4 grafico">
		<circle-progress
			[percent]="50"
			[radius]="90"
			[showUnits]="false"
			[title]="'Flutter'"
			[titleFontSize]="'2em'"
			[showSubtitle]="false"
			[outerStrokeWidth]="16"
			[innerStrokeWidth]="8"
			[outerStrokeColor]="'#78C000'"
			[innerStrokeColor]="'#C7E596'"
			[animation]="true"
			[animationDuration]="600"
		></circle-progress>
	</div>


	<div class="text-center col-sm-4 col-md-4 col-lg-4 grafico">
		<circle-progress
			[percent]="40"
			[radius]="90"
			[showUnits]="false"
			[title]="'Angular'"
			[titleFontSize]="'2em'"
			[showSubtitle]="false"
			[outerStrokeWidth]="16"
			[innerStrokeWidth]="8"
			[outerStrokeColor]="'#78C000'"
			[innerStrokeColor]="'#C7E596'"
			[animation]="true"
			[animationDuration]="600"
		></circle-progress>
	</div>

	<div class="text-center col-sm-4 col-md-4 col-lg-4 grafico">
		<circle-progress
			[percent]="80"
			[radius]="90"
			[showUnits]="false"
			[title]="'GitHub'"
			[titleFontSize]="'2em'"
			[showSubtitle]="false"
			[outerStrokeWidth]="16"
			[innerStrokeWidth]="8"
			[outerStrokeColor]="'#78C000'"
			[innerStrokeColor]="'#C7E596'"
			[animation]="true"
			[animationDuration]="600"
		></circle-progress>
	</div>

	<div class="text-center col-sm-4 col-md-4 col-lg-4 grafico">
		<circle-progress
			[percent]="100"
			[radius]="90"
			[showUnits]="false"
			[title]="'Trabajo'"
			[titleFontSize]="'1.5em'"
			[showSubtitle]="true"
			[subtitleColor]="'#333333'"
			[subtitleFontSize]="'1.5em'"
			[subtitle]="'en equipo'"
			[outerStrokeWidth]="16"
			[innerStrokeWidth]="8"
			[outerStrokeColor]="'#78C000'"
			[innerStrokeColor]="'#C7E596'"
			[animation]="true"
			[animationDuration]="600"
		></circle-progress>
	</div>

	<div class="text-center col-sm-4 col-md-4 col-lg-4 grafico">
		<circle-progress
			[percent]="100"
			[radius]="90"
			[showUnits]="false"
			[title]="'Respons-'"
			[titleFontSize]="'1.5em'"
			[showSubtitle]="true"
			[subtitleColor]="'#333333'"
			[subtitleFontSize]="'1.5em'"
			[subtitle]="'bilidad'"
			[outerStrokeWidth]="16"
			[innerStrokeWidth]="8"
			[outerStrokeColor]="'#78C000'"
			[innerStrokeColor]="'#C7E596'"
			[animation]="true"
			[animationDuration]="600"
		></circle-progress>
	</div>
</div>