<div class="row">
	<div class="col-sm-4 col-md-6 col-lg-8">
		<img src="../../../assets/logoAP.png" id="logoAP" alt="Logo Argentina Programa">
	</div>

	<div class="menu col-sm-8 col-md-5 col-lg-4">
		<div class="btn-group redes">
			<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
			  <span class="caret"></span>
			  <span class="sr-only">Redes</span>
			</button>
			
			<ul class="dropdown-menu" role="menu">
				<li><a href="https://www.instagram.com/bruno_cura2020/" target="_blank">Facebook</a></li>
				<li><a href="https://www.instagram.com/bruno_cura2020/" target="_blank">Instagram</a></li>
	  			<li><a href="https://github.com/BrunoCura2020" target="_blank">Github</a></li>
			</ul>
			<button type="button" class="btn btn-outline-light" (click) = "login()" *ngIf="!isLogged">Acceder</button>
			<button type="button" class="btn btn-outline-light" (click) = "onLogOut()" *ngIf="isLogged">Cerrar Sesión</button>
		</div>
	</div>
</div>

