<div class="row">
	<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
		<img src="../../../assets/perfil.png" class="img-fluid" id="fotoperfil">
	</div>
	<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
		<p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
		<p class="titulo">Full Stack Developer Jr</p>
	</div>
	<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
		<h2>Acerca de mí</h2>
			<button type="button" class="btn btn-dark" routerLink="/nuevoAcer" *ngIf="isLogged">Agregar información</button>
		<span>
			<ul *ngFor="let AcercaDe of acercaDe">
				<li>{{AcercaDe.descripcion}}</li>
				<td *ngIf="isLogged"><button class="btn btn-light me-2 fun" routerLink="editAcer/{{AcercaDe.id}}">Editar</button></td>
				<td *ngIf="isLogged"><button class="btn btn-danger fun" (click)="delete(AcercaDe.id)">Borrar</button></td>
			</ul>
		</span>
	</div>
</div>